.project
    border: 1px solid black
    margin: 10%
    position: relative

.project_descr
    position: absolute
    bottom: 0
    padding: 10px
    background-color: rgba(255, 255, 255, 0.2)
    font-size: 1.6rem
    margin: 0
    width: 100%
    box-sizing: border-box
